.info {
    width: 100%;
    height: 0;
    position: relative;
    overflow: hidden;
    transition: height 500ms;
    margin-top: 50px;

    @include media(720) {
        display: none;
    }

    &.active {
        height: 700px;

        @include media(1200) {
            height: 600px;
        }

        @include media(960) {
            height: 500px;
        }
    }

    &-item {
        &__close {
            width: 55px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 10;
            position: absolute;
            top: 30px;
            right: 30px;
            border-radius: 50%;
            background: var(--bg-color);
            opacity: 0.7;
            padding: 20px;
            font-size: 30px;
            color: var(--button-text);
            cursor: pointer;

            @include media(960) {
                width: 35px;
                height: 35px;
                font-size: 25px;
            }
        }

        &__block {
            height: 700px;
            position: relative;
            background: linear-gradient(90deg, #000000 40%, rgba(0, 0, 0, 0.2) 63%, rgba(0, 0, 0, 0) 67.73%);


            @include media(1200) {
                height: 600px;
            }

            @include media(960) {
                height: 500px;
            }


            &-img {
                position: absolute;
                right: 0;
                top: 0;
                width: 60%;
                height: 100%;
                object-fit: cover;
                z-index: -5;
            }
        }

        &__content {
            position: relative;
            height: 100%;
            width: 50%;
            padding: 50px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 50px;
            row-gap: 30px;

            @include media(960) {
                padding: 30px 0 30px 50px;
                row-gap: 20px;
            }


            &-title {
                font-family: Raleway;
                font-size: 50px;
                font-weight: 700;
                line-height: 1;
                color: var(--text-color);
                max-width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                @include media(1200) {
                    font-size: 40px;
                }

                @include media(960) {
                    font-size: 30px;
                }



            }

            &-overview {
                font-family: Raleway;
                font-size: 20px;
                font-weight: 400;
                line-height: 1.5;
                color: var(--text-color);
                opacity: 0.7;
                max-width: 100%;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;

                @include media(1200) {
                    font-size: 16px;
                }

                @include media(960) {
                    display: none;
                }

            }

            &-data {
                font-family: "Montserrat";
                font-size: 20px;
                font-weight: 400;
                line-height: 1.5;
                color: var(--text-color);
                opacity: 0.6;

                & .runtime {
                    margin-left: 15px;
                    font-weight: 700;
                    @include media(960) {
                        display: flex;
                        margin-left: 0;  
                    }
                }

                @include media(1400) {
                    font-size: 18px;
                }

                @include media(1200) {
                    font-size: 14px;
                }

                @include media(960) {
                    font-size: 12px;
                }

            }

        

            & .actors {
                max-width: 450px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }

        }
    }


    &-item-enter-active,
    &-item-leave-active {
        transition: all 0.5s linear;
    }

    &-item-enter-from {
        scale: 0.4;
    }

    &-item-enter-to {
        scale: 1;
    }

    &-item-leave-from {
        scale: 1;
    }

    &-item-leave-to {
        scale: 0.4;
    }
}